body {
  font-family: 'Arial', sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
} 

.bodyIndex {
    background-image: url(https://dzpqda01g2dxp.cloudfront.net/images/attractions/4294/photos/4294_0.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white;
    height: 100%;;
}

.seccion-Descripcion {
    padding: 150px;
    background: transparent;
    background-position: center; 
    background-repeat: no-repeat;
}

.descripcion {
    max-width: 40%;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.headerLog , .HeaderRegistro , .regFinal{
  background: #007bff;
  color: white;
  padding: 25px;
  font-size: 24px;
  text-align: center;
}


input, select {
  border-radius: 1rem;
}

#formulario, 
#loginForm,
 #registroFinal,
 #lista {
  background: white;
  margin: 30px auto;
  padding: 20px;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#formulario #inputs, 
#loginForm #inputs, 
#registroFinal #inputs,
#lista #inputs {
  display: flex;
  flex-direction: column;
}

#formulario label, 
#loginForm label, 
#registroFinal label,
#lista label {
  margin-top: 10px;
  font-weight: bold;
}

#formulario input, #formulario select, #formulario button,
#loginForm input, #loginForm select, #loginForm button, 
#registroFinal input, #registroFinal select, #registroFinal button
#lista input, #lista select, #lista button {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
}

button[type="submit"] {
  border-radius: 1rem;
  font-weight: bold;
}

button[type="submit"], .reset button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.botonRegistro{
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
}

button[type="submit"]:hover, .reset button:hover {
  background-color: #218838;
}

/* Estilo para el contenedor del header */
.HIndex , .Hbienvenida{
    display: flex;
    justify-content: space-between;  /* Distribuye el espacio entre los elementos */
    align-items: center;  /* Centra verticalmente los elementos */
    background-color: #007bff;  /* Fondo del header (puedes cambiar el color) */
    padding: 0px 20px;  /* Añade espacio alrededor del contenido */
}

/* Estilo para el nombre de la cooperativa */
.nombreCoop {
    color: white;  /* Color del texto del nombre */
}

/* Estilo para los enlaces de opciones */
.OpHeader {
    color: white;  /* Color del texto de los enlaces */
    text-decoration: none;  /* Quitar subrayado de los enlaces */
    margin-left: 20px;  /* Espacio entre los enlaces */
}

/* Agrupar los enlaces y alinearlos a la derecha */
.HIndex > a{
    display: inline-block;  /* Agrupa los enlaces en una línea */
}

.Hbienvenida{
  background-color: #007bff;
}

.bienvenidaBody {
  background-color: rgb(0, 0, 0);
}